.test {
    color: #e9203d;
    background: #666;
}

.ings2{
    /* color: #666; */
    font-size: 20px;
}

.page-title{
    width: 100%;
    padding: 10px 0;
    /* border-bottom: 1px solid #f1f1f1; */
    /* font-size: 24px;
    line-height: 1;
    font-weight: 900;
    height: 25px; */
}

.text{
    margin-left: 30px;
}

.cover_image{
    padding: 10px 0;
    /* border-bottom: 1px solid #5f4f4f; */
}

.pre_time{
    font-weight:700;
    /* color: #e9203d; */
    color:#a7ac6c;
    display: inline;
    border-right:50px solid white;
}
.cook_time{
    font-weight:700;
    color: #a7ac6c;
    display:inline;
}

.head{
    color: rgb(240, 123, 45);
}